{% extends "base.html" %}

{% block content %}


    <h1>Build a Blog</h1>
    
    {% if blogs|length == 0 %}
    <p>Nothing yet</p>
    {% else %}

        <ul>
            {% for user in users %}
            {% for blog in blogs %}
                {%if user.id == blog.owner_id %}
                    <li>
                        <h2><a href='/blog?id={{blog.id}}'>{{blog.title}}</a></h2>
                        <p>{{blog.body}}</p>
                        <h5 align='left' >Posted by <a href="/blog?user={{blog.owner.id}}">{{blog.owner.username}}</a></h5>
                        
                    </li>
                {% endif %}
            {% endfor %}
            {% endfor %}
        </ul>

    {% endif %}

    

{% endblock %}